body {
  font-family: Poppins, sans-serif;
  text-align: center;
  background: #0a0a0a;
  color: white;
  margin: 0;
  padding: 0;
}

.logo {
  width: 120px;
  margin-top: 20px;
  border-radius: 10px;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.team {
  background: #222;
  border-radius: 12px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  transition: 0.3s;
}

.team img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.team:hover {
  transform: scale(1.05);
  border: 2px solid #007bff;
}
