body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.logo {
  width: 180px;
  margin: 20px auto;
}

.box {
  background: #111;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#teams img {
  width: 80px;
  margin: 10px;
  cursor: pointer;
}

.menu button {
  font-size: 20px;
  margin: 5px;
}
