body{
  font-family: Arial;
  background:#0b132b;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.hidden{display:none}

.card{
  background:#1c2541;
  padding:25px;
  border-radius:12px;
  text-align:center;
  width:320px;
}

.logo{
  width:120px;
  margin-bottom:10px;
}

input{
  width:90%;
  padding:8px;
  margin:6px 0;
}

button{
  width:95%;
  padding:8px;
  margin-top:6px;
  cursor:pointer;
}

.teams{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.teams img{
  width:80px;
  cursor:pointer;
}

.dash{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.dash button{
  font-size:22px;
  padding:15px;
}
