body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.team {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border: 1px solid white;
  cursor: pointer;
}

.taken {
  background: red;
  cursor: not-allowed;
}
