body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #001f3f, #0074d9);
  color: white;
  text-align: center;
}

.logo-container {
  margin-top: 20px;
}

.logo {
  width: 80px;
  height: auto;
}

h1 {
  margin: 10px 0 30px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

button {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #ffdb4d;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.menu-btn {
  flex: 1;
  margin: 0 5px;
}

#content {
  padding-bottom: 80px;
  }
